.wrap {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 1250px;
  margin: 88px 20% 0 20%;
  background: white;
}
.products-not-found {
  background-color: #b3b3b3;
  display: inline-grid;
  grid-template-columns: 2fr 7fr;
  padding: 16px;
  margin: 0;
  border-radius: 12px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cart {
  width: 50%;
  height: 50%;
  fill: #333333;
}

.field{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #9a9a9a;
  z-index: 1000;
  padding: 10px;
}

